<div class="vertical-center-full-height">
    <h1>NGRX Signal Store in Feature Module</h1>
    <h2> 1. Write less and do more</h2>
    <p>NgRx SignalStore is a fully-featured state management solution that offers a robust way to manage application
        state. <br>
        With its native support for Signals, it provides the ability to define stores in a clear and
        declarative
        manner.<br>
        The simplicity and flexibility of SignalStore, coupled with its opinionated and extensible design,<br>
        establish it as a versatile solution for effective state management in Angular.</p>
    <br>
    <h2> How to Use</h2>
    <p>1. Install NgRx</p>
    <p>> ng add &#64;ngrx/store&#64;latest // If you meant to write the &#64; character, you should use the {{atSign}}
        <br><br>
        > npm i &#64;ngrx/store&#64;18.0.0-beta.1 // for install beta version
    </p>

</div>