<div class="vertical-center-full-height">
    <table style="text-align: center;">
        <tr>
            <td>
                <h1>Angular NgRx Store</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2>{{count$ | async}}</h2> <br><br>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="increment()">Increment</button>&nbsp;&nbsp;<button
                    (click)="decrement()">Decrement</button>&nbsp;&nbsp;
                <button (click)="reset()">Reset</button>
            </td>
        </tr>
    </table>



</div>