<div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 0 auto;">
    <img class="w-full" [src]="product.image" alt="Sunset in the mountains">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{product.title}}</div>
        <p class="text-gray-700 text-base">
            {{product.description.substring(0, 150)}}...
        </p>
    </div>
    <div class="px-6">
        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-base font-semibold">
            <!-- {{product.price | currency}} -->
            {{product.price}} USD
        </span>
    </div>
    <div class="px-10">
        <button type="button" (click)="addToCart(product)"
            class="mt-4 w-full rounded-sm bg-green-500 px-2 py-1.5 text-sm font-semibold text-white shadow-md hover:bg-red-700 hover:opacity-75 hover:text-black">
            สั่งสินค้า
        </button>
    </div>
    <div class="px-12">
        <button type="button"
            class="mt-4 w-full rounded-sm bg-yellow-500 px-2 py-1.5 text-sm font-semibold text-white shadow-md hover:bg-red-700">
            View product
        </button>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
</div>